.about__product-name {
    text-align: center;
}

.products {
    padding-top: 80px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 60px;
    }
}

.about__product-pre-title {
    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-pink-color);
    margin-top: 0;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 18px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 1.13;
    }
}

.about__product-title {
    font-family: 'Titan One';
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--dark-pink-color);
    margin-bottom: 148px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.14;
        margin-bottom: 154px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 66px;
        letter-spacing: 1.13;
        margin-bottom: 258px;
    }

}

.about__product-gallery {
    align-items: center;
    display: flex;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {
        margin: -8px;
    }

    @media screen and (min-width: 1280px) {
        margin: -16px;
    }
}

.about__product-item {
    width: 100%;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 140px;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 6*8px)/3);
        margin: 8px;
    }

    @media screen and (min-width: 1280px) {
        flex-basis: calc((100% - 6*16px)/3);
        margin: 16px;
    }

}

.about__product-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--product-pink-color);
    border-radius: 24px;
    padding: 160px 40px 40px;

    @media screen and (min-width: 768px) {
        padding: 118px 25px 40px;
    }

    @media screen and (min-width: 1280px) {
        padding: 165px 75px 60px 75px;
    }
}

.about__product-name::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url(/src/images/mobile/mob-icestrawberry-1x.png);
    width: 280px;
    height: 280px;
    position: absolute;
    bottom: 350px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        background-image: url(/src/images/tablet/tab-icestrawberry-1x.png);
        bottom: 390px;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
        height: 394px;
        background-image: url(/src/images/desktop/desk-icestrawberry-1x.png);
        bottom: 400px;
    }

}

.about__product-name::after,
.about__product-name-milk::after,
.about__product-name-cof::after {
    content: "";
    display: block;
    width: 26px;
    height: 6px;
    background-image: url(/src/images/icons/dotwhite.svg), url(/src/images/icons/dotwhite.svg), url(/src/images/icons/dotwhite.svg);
    background-repeat: no-repeat;
    background-size: 6px;
    background-position: 0, center, 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.product-name {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 32px;

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.about__product-offer {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    max-width: 200px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 32;
    color: var(--primary-white-color);

    @media screen and (min-width: 768px) {
        line-height: 1.7;
        max-width: 160px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: 60px;
        max-width: 245px;
    }
}

.about__product-list-cof {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--product-creamy-color);
    border-radius: 24px;
    padding: 160px 40px 40px;

    @media screen and (min-width: 768px) {
        padding: 118px 25px 40px;
    }

    @media screen and (min-width: 1280px) {
        padding: 165px 75px 60px 75px;
    }
}

.about__product-name-cof::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url(/src/images/mobile/mob-icecoffee-1x.png);
    width: 280px;
    height: 280px;
    bottom: 350px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        background-image: url(/src/images/tablet/tab-icecoffee-1x.png);
        bottom: 390px;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
        height: 394px;
        background-image: url(/src/images/desktop/desk-icecoffee-1x.png);
        bottom: 400px;
    }
}

.about__product-list-milk {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--product-green-color);
    border-radius: 24px;
    padding: 160px 40px 40px;

    @media screen and (min-width: 768px) {
        padding: 118px 25px 40px;
    }

    @media screen and (min-width: 1280px) {
        padding: 165px 75px 60px 75px;
    }
}

.about__product-name-milk::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url(/src/images/mobile/mob-milkshakes-1x.png);
    width: 280px;
    height: 280px;
    bottom: 351px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        background-image: url(/src/images/tablet/tab-milkshakes-1x.png);
        bottom: 390px;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
        height: 394px;
        background-image: url(/src/images/desktop/desk-milkshake-1x.png);
        bottom: 400px;
    }
}

.short-text {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.about__product-overlay-cream,
.about__product-overlay-coff,
.about__product-overlay-milk {
    position: absolute;
    top: -60px;
    height: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 40px;
    border-radius: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: transform var(--duration) var(--timing-function);
    color: var(--primary-white-color);

    @media screen and (min-width: 768px) {
        padding: 30px;
    }
}

.about__product-text {
    position: relative;
}

.about__product-overlay-cream {
    background-color: var(--mobile-menu-border-color);
}

.about__product-overlay-milk {
    background-color: #b4e673;
}

.about__product-overlay-coff {
    background-color: #eec388;
}

.about__product-detalis[open] .about__product__arrow-icon {
    transform: rotate(-90deg);
    transition: transform var(--duration) var(--timing-function);
}

.summary-btn {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-white-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color var(--duration) var(--timing-function);
    justify-content: center;
    align-items: center;
    display: flex;

    &:hover,
    &:focus {
        background-color: #ecebeb;
    }
}

.about__product__arrow-icon {
    fill: var(--dark-pink-color);
    width: 15px;
    height: 15px;
    transition: transform var(--duration) var(--timing-function);
}