.products {
padding-top: 0px;
    padding-bottom: 40px;
}
.about__product {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 148px;
}

.about__product-pre-title {
    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-pink-color);
    margin-top: 0;
    margin-bottom: 15px;
}

.about__product-title {
    font-family: 'Titan One';
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--dark-pink-color);
    margin-top: 0;
    margin-bottom: 8px;
}

.about__product-gallery {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.about__product-item:not(:last-child) {
    margin-bottom: 140px;
}

.about__product-list {
    position: relative;
    background-color: var(--product-pink-color);
    border-radius: 24px;
    padding-bottom: 40px;
}

.about__product-name::before{
    position: absolute;
    content: "";
    display: block;
    background-image: url(/src/images/mobile/mob-icestrawberry-1x.png);
    width: 280px;
    height: 280px;
    top: -140px;
    left: 0;
}

.about__product-name::after,
.about__product-name-milk::after,
.about__product-name-cof::after {
    content: "";
    display: block;
    width: 26px;
    height: 6px;
    background-image: url(/src/images/icons), url(/src/images/icons/ellipse.svg), url(/src/images/icons/ellipse.svg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.product-name {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    padding: 160px 53px 32px 53px;
   
}

.about__product-scroll-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    padding: 0;
}

.about__product-offer {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    max-width: 200px;
    text-align: center;
    letter-spacing: 0.04em;
    margin: 0 40px 32px 40px;
}

.about__product-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--product-pink-color);

}



.about__product-list-cof {
    position: relative;
    background-color: var(--product-creamy-color);
    border-radius: 24px;
    padding-bottom: 40px;
}

.about__product-name-cof::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url(/src/images/mobile/mob-icecoffee-1x.png);
    width: 280px;
    height: 280px;
    top: -140px;
    left: 0;
}

.about__product-button-cof {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--product-creamy-color);
}


.about__product-list-cof {
    position: relative;
    background-color: var(--product-creamy-color);
    border-radius: 24px;
    padding-bottom: 40px;
}

.about__product-button-cof {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--product-creamy-color);
}








.about__product-list-milk {
    position: relative;
    background-color: var(--product-green-color);
    border-radius: 24px;
    padding-bottom: 40px;
}

.about__product-name-milk::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url(/src/images/mobile/mob-milkshakes-1x.png);
    width: 280px;
    height: 280px;
    top: -140px;
    left: 0;
}

.about__product-button-milk {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--product-green-color);
}


.about__product-list-milk {
    position: relative;
    background-color: var(--product-green-color);
    border-radius: 24px;
    padding-bottom: 40px;
}

.about__product-button-milk {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--product-green-color);
}
