.contacts {
    padding-top: 24px;
    padding-bottom: 24px;
    @media screen and (min-width: $tablet) {
            padding-top: 40px;
            padding-bottom: 20px;
        }
    
        @media screen and (min-width: $desktop) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    background-image: linear-gradient(
        var(--primary-white-color) 24%,
        var(--howitsmade-bg-color) 24%
    );
    @media screen and (min-width: $tablet) {
        background-image: linear-gradient(
            var(--primary-white-color) 22%,
            var(--howitsmade-bg-color) 22%
    ); 
        }
    @media screen and (min-width: $desktop) {
        background-image: linear-gradient(
            var(--primary-white-color) 20%,
            var(--howitsmade-bg-color) 20%
    ); 
        }
}
.contacts__container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.contacts__list {
    margin-bottom: -20px;
    @media screen and (min-width: $tablet) {
        display: flex;
        margin: -16px;
    }
}
.card {
    padding: 40px 32px;
    max-width: 100%;
    margin-bottom: 20px;
    background: var(--primary-white-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    @media screen and (min-width: $tablet) {
            width: calc((100% - 64px) / 3);
            margin: 16px;  
        }
        
}
.card__cafe {
    font-size: 12px;
    line-height: 1.86;
    width: 80px;
    height: 16px;
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--product-creamy-color);
    border-radius: 4px;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    @media screen and (min-width: $tablet) {
        font-size: 16px;
        height: 28px;
        width: 73px;
        }
    @media screen and (min-width: $desktop) {
        width: 75px;
        }
}
.card__cafe--foodtruck {
    width: 130px;
    background: var(--product-green-color);
    @media screen and (min-width: $tablet) {
        width: 138px;
        }
}
.card__title {
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--primary-black-color);
    @media screen and (min-width: $tablet) {
            font-size: 14px;
        }
    @media screen and (min-width: $desktop) {
            font-size: 16px;
        }
}
.card__text {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding-bottom: 24px;
    color: var(--text-gray-color);
    border-bottom: 1px solid var(--review-element-color);
    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.66;
        }
    @media screen and (min-width: $desktop) {
            font-size: 16px;
            line-height: 1.83;
        }
}
.card__list {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--review-element-color);
}
.card__item + .card__item {
    margin-top: 8px;
}
.card__days {
    font-size: 12px;
    line-height: 1.86;
    margin: 0;
    color: var(--primary-black-color);
    @media screen and (min-width: $tablet) {
            font-size: 14px;
        }
    @media screen and (min-width: $desktop) {
            font-size: 16px;
        }
}
.card__time {
    font-size: 12px;
    line-height: 1.86;
    margin: 0;
    color: var(--light-pink-color);
    @media screen and (min-width: $tablet) {
            font-size: 14px;
        }
    @media screen and (min-width: $desktop) {
            font-size: 16px;
        }
}
.card__link {
    display: block;
    font-size: 12px;
    line-height: 1.5;
    color: var(--text-gray-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: $tablet) {
            font-size: 14px;
            line-height: 1.83;
        }
    @media screen and (min-width: $desktop) {
            font-size: 16px;
        }
        &:hover,
        &:focus {
            color: var(--dark-pink-color);
        }
}
.contacts__button {
    min-width: 161px;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: 700;
    line-height: 1.31;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-white-color);
    background: var(--dark-pink-color);
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: $tablet) {
            padding-left: 30px;
            padding-right: 30px;
        }
            &:hover,
            &:focus {
                background-color: #C7133E;
            }
}

.contacts__button--second {
    color: var(--dark-pink-color);
    background-color: var(--primary-white-color);
        &:hover,
        &:focus {
            background-color: var(--button-bg-hover-color);
        }
}
.contacts__secondlist {
    margin-top: 32px;
    @media screen and (min-width: $tablet) {
            display: flex;
            margin-top: 40px;
        }
    @media screen and (min-width: $desktop) {
            margin-top: 60px;
        }
}
.contacts__seconditem + .contacts__seconditem {
    @media screen and (max-width: 767px) {
             margin-top: 10px;
        } 
    @media screen and (min-width: $tablet) {
          margin-left: 15px;
        }
}
.button-icon {
    margin-top: 3px;
    margin-left: 8px;
    @media screen and (min-width: $tablet) {
        margin-left: 13px;
        }
}

.modal-contacts {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 95vw;
    height: 95vw;
    background: var(--howitsmade-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    border: 4px solid var(--light-pink-color);
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 480px) {
            width: 80vw;
            height: 65vw;
        }
    @media screen and (min-width: $tablet) {
            width: 65vw;
            height: 50vw;
        }
    @media screen and (min-width: $desktop) {
            width: 50vw;
            height: 40vw;
        }
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal-contacts__close {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    stroke: var(--primary-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--light-pink-color);
    @media screen and (min-width: $tablet) {
            width: 36px;
            height: 36px;
        }
        &:focus,
        &:hover {
            background-color: var(--dark-pink-color);
        }
}
.modal-text {
    font-size: 18px;
    line-height: 1.5;
    color: var(--light-pink-color);
    text-align: center;
    @media screen and (min-width: $mobile) {
        font-size: 24px;
        }
    @media screen and (min-width: $tablet) {
        font-size: 30px;
        }
    @media screen and (min-width: $desktop) {
        font-size: 36px;
        }      
}
.map {
    width: 100%;
    height: 82%;
    border-radius: 6px;
    margin-bottom: 10px;
}

