<section class="about  ">

<div class="container">
            <p class="about-text">tradition and love</p>
            <h2 class="about-name" id="howitismade">how it’s made?</h2>
        <div class="about-pozition">
            <picture class="about-picture">
                <source srcset="images/mobile/mob-bioeco-1x.png 1x, images/mobile/mob-bioeco-2x.png 2x"
                    media="(max-width: 767px)">

                <source srcset="images/tablet/tab-bioeco-1x.png 1x, images/tablet/tab-bioeco-2x.png 2x"
                    media="(max-width: 1199px)">

                <img class="" srcset="images/desktop/desk-bioeco-1x.png 1x, images/desktop/desk-bioeco-2x.png 2x"
                    src="images/desktop/desk-bioeco-1x.png" alt="Корова і молоко">

            </picture>
            <div class="about-div">
            <p class="about-list__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>

                <p class="about-list__desc">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                </p>
                <p class="about-list__desc another">Aliquam erat volutpat. Aenean accumsan.</p>

            
                <button  class="about-btn" data-modal-three-open > Read more
                    <svg width="6px" height="8px" class="about-svg">
                        <use href="images/symbol-defs.svg#icon-btn-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="about-backdrop  " data-modal-three>
            <div class="about-modal">
                <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                tincidunt.</p>
                
                <p class="about-modal__text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Natus nihil eveniet possimus voluptatem culpa dolore deserunt quos. Esse consequuntur cupiditate hic, 
                    aspernatur illum ex delectus! Quaerat ratione laborum nostrum voluptatem.</p>

            <button type="button" data-modal-three-close >закрити</button>
            </div>
        </div>
    </div>

</section>