<!-- advantages section -->
<section class="section advantages">
  <div class="container">
    <h2 class="advantages__title visually-hidden" id="about">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__number">721</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__number">16kg</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__number">84</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- gallery section -->
<section class="section gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery-box">
      <div class="gallery__item gallery__item--1">
        <img
          class="gallery__img"
          src="images/gallery/1@2x.jpg"
          alt="green ice-cream"
        />
      </div>
      <div class="gallery__item gallery__item--2">
        <img
          class="gallery__img"
          src="images/gallery/2@2x.jpg"
          alt="ice-cream on yellow background"
        />
      </div>
      <div class="gallery__item gallery__item--3">
        <img
          class="gallery__img"
          src="images/gallery/3@2x.jpg"
          alt="frutty ice-cream on stick"
        />
      </div>
      <div class="gallery__item gallery__item--4">
        <img
          class="gallery__img"
          src="images/gallery/4@2x.jpg"
          alt="lot of ice-cream"
        />
      </div>
      <div class="gallery__item gallery__item--5">
        <img
          class="gallery__img"
          src="images/gallery/5@2x.jpg"
          alt="girl with ice-cream"
        />
      </div>
      <div class="gallery__item gallery__item--6">
        <img
          class="gallery__img"
          src="images/gallery/6@2x.jpg"
          alt="hand decorating ice-cream"
        />
      </div>
      <div class="gallery__item gallery__item--7">
        <img
          class="gallery__img"
          src="images/gallery/7@2x.jpg"
          alt="red ice-cream in a hand"
        />
      </div>
      <div class="gallery__item gallery__item--8">
        <img
          class="gallery__img"
          src="images/gallery/8@2x.jpg"
          alt="dog eating ice-cream"
        />
      </div>
      <div class="gallery__item gallery__item--9">
        <img
          class="gallery__img"
          src="images/gallery/9@2x.jpg"
          alt="chocolate ice-cream coctail"
        />
      </div>
      <div class="gallery__item gallery__item--10">
        <img
          class="gallery__img"
          src="images/gallery/10@2x.jpg"
          alt="ice-cream in a jar"
        />
      </div>
    </div>
  </div>
</section>
