<!-- advantages section -->
<section class="section advantages">
  <div class="container">
    <h2 class="advantages__title visually-hidden" id="about">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__number">721</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__number">16kg</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__number">84</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- gallery section -->
<section class="section gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
 <div class="gallery-box">
<div class="gallery__item gallery__item--1">
    <img class="gallery__img" src='images/gallery/1@2x.jpg' alt="Image 1"> 
</div>
<div class="gallery__item gallery__item--2">
    <img class="gallery__img" src="images/gallery/2@2x.jpg" alt="Image 1">
</div>
<div class="gallery__item gallery__item--3">
    <img class="gallery__img" src="images/gallery/3@2x.jpg" alt="Image 1">
</div>
<div class="gallery__item gallery__item--4">
<img class="gallery__img" src="images/gallery/4@2x.jpg" alt="Image 1">
</div>
<div class="gallery__item gallery__item--5">
    <img class="gallery__img" src="images/gallery/5@2x.jpg" alt="Image 1">
</div>
<div class="gallery__item gallery__item--6">
<img class="gallery__img" src="images/gallery/6@2x.jpg" alt="Image 1">
</div>
<div class="gallery__item gallery__item--7">
<img class="gallery__img" src="images/gallery/7@2x.jpg" alt="Image 1">
</div>
<div class="gallery__item gallery__item--8">
    <img class="gallery__img" src="images/gallery/8@2x.jpg" alt="Image 1">
</div>
<div class="gallery__item gallery__item--9">
    <img class="gallery__img" src="images/gallery/9@2x.jpg" alt="Image 1">
</div>
<div class="gallery__item gallery__item--10">
    <img class="gallery__img" src="images/gallery/10@2x.jpg" alt="Image 1">
</div>
</div>
</div>
</section>
    <!-- <picture>
      <source
        srcset="
          images/desktop/desk-gallery-1x.png 1x,
          images/desktop/desk-gallery-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          images/tablet/tab-gallery-1x.png 1x,
          images/tablet/tab-gallery-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          images/mobile/mob-gallery-1x.png 1x,
          images/mobile/mob-gallery-2x.png 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="gallery__img"
        src="images/mobile/mob-gallery-1x.png"
        alt="фото-галерея"
      />
    </picture> -->
  </div>
</section>
