<section class="contacts">
  <div class="contacts__container container">
    <h2 class="visually-hidden" id="contacts">contacts</h2>
    <ul class="contacts__list">
      <li class="card">
        <p class="card__cafe">CAFE</p>
        <h3 class="card__title">Chicago</h3>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="card__list">
          <li class="card__item">
            <p class="card__days">Monday - Friday</p>
            <p class="card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__item">
            <p class="card__days">Saturday - Sunday</p>
            <p class="card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul>
          <li>
            <a class="card__link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="card__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card">
        <p class="card__cafe card__cafe--foodtruck">FOODTRUCK</p>
        <h3 class="card__title">Los Angeles</h3>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="card__list">
          <li class="card__item">
            <p class="card__days">Monday - Friday</p>
            <p class="card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__item">
            <p class="card__days">Saturday - Sunday</p>
            <p class="card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul>
          <li>
            <a class="card__link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="card__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card">
        <p class="card__cafe">CAFE</p>
        <h3 class="card__title">New York</h3>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="card__list">
          <li class="card__item">
            <p class="card__days">Monday - Friday</p>
            <p class="card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__item">
            <p class="card__days">Saturday - Sunday</p>
            <p class="card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul>
          <li>
            <a class="card__link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="card__link link" href="mailto:noreply@envato.coml"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__secondlist">
      <li class="contacts__seconditem">
        <button
          class="contacts__button button"
          type="button"
          data-modal-two-open
        >
          Our Locations
          <svg class="button-icon" width="5" height="8">
            <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__seconditem">
        <button
          class="contacts__button contacts__button--second button"
          type="button"
          data-modal-two-open
        >
          Franchise
          <svg class="button-icon" width="5" height="8">
            <use href="./images/symbol-defs.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<div class="backdrop is-hidden" data-modal-two>
  <div class="modal-contacts">
    <button class="modal-contacts__close" type="button" data-modal-two-close>
      <svg width="18px" height="18px">
        <use href="images/symbol-defs.svg#icon-close-btn"></use>
      </svg>
    </button>
    <p class="modal-text">Our Locations</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d898.6271158036714!2d-73.98438079661645!3d40.7486221905653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9c8cddf89%3A0x1149541f7690471e!2zMTEgRSAzNHRoIFN0LCBOZXcgWW9yaywgTlkgMTAwMTYsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1653992501944!5m2!1sru!2sua"
      width="100%"
      height="100%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
