<section class="contacts">
  <div class="contacts__container container">
    <h2 class="visually-hidden">contacts</h2>
    <ul class="contacts__list">
      <li class="card">
        <p class="card__cafe">CAFE</p>
        <h3 class="card__title">Chicago</h3>
        <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="card__list">
          <li class="card__item">
            <p class="card__days">Monday - Friday</p>
            <p class="card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__item">
            <p class="card__days">Saturday - Sunday</p>
            <p class="card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a class="card__link link" href="#">+61(0) 383 766 284</a>
        <a class="card__link link" href="#">noreply@envato.com</a>
      </li>
      <li class="card">
        <p class="card__cafe card__cafe--foodtruck">FOODTRUCK</p>
        <h3 class="card__title">Los Angeles</h3>
        <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="card__list">
          <li class="card__item">
            <p class="card__days">Monday - Friday</p>
            <p class="card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__item">
            <p class="card__days">Saturday - Sunday</p>
            <p class="card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a class="card__link link" href="#">+61(0) 383 766 284</a>
        <a class="card__link link" href="#">noreply@envato.com</a>
      </li>
      <li class="card">
        <p class="card__cafe">CAFE</p>
        <h3 class="card__title">New York</h3>
        <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="card__list">
          <li class="card__item">
            <p class="card__days">Monday - Friday</p>
            <p class="card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__item">
            <p class="card__days">Saturday - Sunday</p>
            <p class="card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a class="card__link link" href="#">+61(0) 383 766 284</a>
        <a class="card__link link" href="#">noreply@envato.com</a>
      </li>
    </ul>
    <ul class="contacts__secondlist">
      <li class="contacts__seconditem">
        <button class="contacts__button button" type="button">
          Our Locations
          <svg class="button-icon" width="5" height="8">
            <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__seconditem">
        <button class="contacts__button contacts__button--second button" type="button">
          Franchise
          <svg class="button-icon" width="5" height="8">
            <use href="./images/symbol-defs.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
