<footer class="footer">
    <div class="container footer__container">
            <section class="section-footer">

                    <p class="footer__title">homemade ice cream made<span class="footer__subtitle">with passion</span></p>

                    <div>
                        <ul class="footer__social--list list">
                            <li class="footer__social--item">
                                <a href="https://github.com" class="footer__social--link">
                                    <svg class="footer__social--logo" width="19" height="19">
                                        <use href="images/symbol-defs.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer__social--item">
                                <a href="https://telegram.org/?setln=en" class="footer__social--link">
                                    <svg class="footer__social--logo" width="19.2" height="14.93">
                                        <use href="images/symbol-defs.svg#icon-telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer__social--item">
                                <a href="https://www.facebook.com" class="footer__social--link">
                                    <svg class="footer__social--logo" width="9" height="19">
                                        <use href="images/symbol-defs.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            </ul>
                            <div class="footer__tel--link">
                                <a href="tel:+61(0)383766284" class="footer__tel">Feel free to contact&nbsp<span class="footer__tel--number">+61 (0) 383 766 284</span></a>
                            </div>  
                        </div>
            </section>
    </div>
                    <p class="footer__copyright">&#169; 2019 - Ice Cream.
                        All Rights Reserved.</p>
            
   
  </footer>
