<header>
  <div class="container page-header">
    <a href="./index.html" class="logo">
      <img src="images/mobile/mob-logo-1x-crop.png" alt="logo" />
      <span class="logo__text">Icecream</span>
    </a>

    <!-- Navigation -->
    <nav>
      <ul class="navigation">
        <li class="navigation__item">
          <a
            href="./index.html"
            class="navigation__link navigation__link--current"
          >
            Home
          </a>
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link"> About us </a>
        </li>
        <li class="navigation__item">
          <a href="#howitismade" class="navigation__link"> How it’s made? </a>
        </li>
        <li class="navigation__item">
          <a href="#ourproduct" class="navigation__link"> Our products </a>
        </li>
        <li class="navigation__item">
          <a href="#contacts" class="navigation__link"> Contacts </a>
        </li>
      </ul>
    </nav>

    <div class="tablet-menu">
      <button type="button" class="menu-open-btn">
        <svg width="20" height="12">
          <use
            href="images/symbol-defs.svg#icon-burger-menu"
            class="icon-menu"
          ></use>
        </svg>
      </button>
      <button type="submit" class="button button--tablet" data-modal-open>
        <span class="button__text button__text--tablet"> Buy now </span>
        <svg width="10" height="8">
          <use
            href="images/symbol-defs.svg#icon-btn-arrow"
            class="button__icon"
          ></use>
        </svg>
      </button>
    </div>

    <!-- Mobile Menu -->
    <div class="mobile-menu is-hidden">
      <div class="mobile-menu-container">
        <button type="button" class="menu-close-btn">
          <svg width="14" height="14">
            <use
              href="images/symbol-defs.svg#icon-close-btn"
              class="icon-cross"
            ></use>
          </svg>
        </button>
        <button type="submit" class="button button--buy" data-modal-open>
          <span class="button__text"> Buy now </span>
          <svg width="10" height="8">
            <use
              href="images/symbol-defs.svg#icon-btn-arrow"
              class="button__icon"
            ></use>
          </svg>
        </button>
        <nav>
          <ul class="menu-nav">
            <li class="menu-nav__item">
              <a
                href="./index.html"
                class="menu-nav__link menu-nav__link--current"
              >
                Home
              </a>
            </li>
            <li class="menu-nav__item">
              <a href="#about" class="menu-nav__link"> About us </a>
            </li>
            <li class="menu-nav__item">
              <a href="#howitismade" class="menu-nav__link"> How it’s made? </a>
            </li>
            <li class="menu-nav__item">
              <a href="#ourproduct" class="menu-nav__link"> Our products </a>
            </li>
            <li class="menu-nav__item">
              <a href="#contacts" class="menu-nav__link"> Contacts </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
