<section class="products section">
    <div class="container">
        <p class="about__product-pre-title">
            100% natural
        </p>
        <h2 class="about__product-title" id="ourproduct">products</h2>

        <ul class="about__product-gallery list">
            <li class="about__product-item">
                <div class="about__product-list">
                    <div class="about__product-name">
                        <h3 class="product-name">ice cream</h3>
                    </div>
                    <div class="about__product-text">
                        <p class="about__product-offer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et. <span class="short-text">dolore magna
                                aliqua facilisis.</span>
                        </p>
                        <details class="about__product-detalis">
                            <summary class="summary-btn"><svg class="about__product__arrow-icon">
                                    <use href="/src/images/symbol-defs.svg#icon-arrow-large"></use>
                                </svg>
                            </summary>
                            <p class="about__product-overlay-cream">
                                id deleniti suscipit aliquid minus quam laudantium nemo eveniet excepturi iste qui.</p>
                        </details>
                    </div>
                </div>
            </li>
            <li class="about__product-item">
                <div class="about__product-list-cof">
                    <div class="about__product-name-cof">
                        <h3 class="product-name">ice coffee</h3>
                    </div>
                    <div class="about__product-text">
                        <p class="about__product-offer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et. <span class="short-text">dolore magna
                                aliqua facilisis.</span>
                        </p>
                        <details class="about__product-detalis">
                            <summary class="summary-btn"><svg class="about__product__arrow-icon">
                                    <use href="/src/images/symbol-defs.svg#icon-arrow-large"></use>
                                </svg>
                            </summary>
                            <p class="about__product-overlay-coff">
                                id deleniti suscipit aliquid minus quam laudantium nemo eveniet excepturi iste qui.</p>
                        </details>
                    </div>
                </div>
            </li>

            <li class="about__product-item">
                <div class="about__product-list-milk">
                    <div class="about__product-name-milk">
                        <h3 class="product-name">milkshakes</h3>
                    </div>
                    <div class="about__product-text">
                        <p class="about__product-offer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et. <span class="short-text">dolore magna
                                aliqua facilisis.</span>
                        </p>
                        <details class="about__product-detalis">
                            <summary class="summary-btn"><svg class="about__product__arrow-icon">
                                    <use href="/src/images/symbol-defs.svg#icon-arrow-large"></use>
                                </svg>
                            </summary>
                            <p class="about__product-overlay-milk">
                                id deleniti suscipit aliquid minus quam laudantium nemo eveniet excepturi iste qui.</p>
                        </details>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</section>