<section class="products section">
    <div class="container">
            <p class="about__product-pre-title">
                100% natural
            </p>
            <h2 class="about__product-title" id="ourproduct">products</h2>
        </div>
        <ul class="about__product-gallery list">
            <li class="about__product-item">
                <div class="about__product-list">
                    <div class="about__product-name">
<h3 class="product-name">ice cream</h3>
                    </div>
                    <p class="about__product-offer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.
                    </p>
                    <button class="about__product-button">
                        <svg class="about__product__arrow-icon">
                            <use href="/src/images/symbol-defs.svg#icon-arrow-large"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="about__product-item">
                <div class="about__product-list-cof">
                    <div class="about__product-name-cof">
                        <h3 class="product-name">ice coffee</h3>
                    </div>
                    <p class="about__product-offer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. dolore magna
                        aliqua facilisis.
                    </p>
                    <button class="about__product-button">
                        <svg class="about__product__arrow-icon">
                            <use href="/src/images/symbol-defs.svg#icon-arrow-large"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="about__product-item">
                <div class="about__product-list-milk">
                    <div class="about__product-name-milk">
                        <h3 class="product-name">milkshakes</h3>
                    </div>
                    <p class="about__product-offer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. dolore magna
                        aliqua facilisis.
                    </p>
                    <button class="about__product-button" >
                    <svg class="about__product__arrow-icon">
                        <use href="/src/images/symbol-defs.svg#icon-arrow-large"></use>
                    </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
