<article class="swiper-article">
  <div class="container">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <div class="swiper-slide--img-thumb">
            <img
              srcset="
                images/mobile/victoria-myzyniuk@1x.jpg 1x,
                images/mobile/victoria-myzyniuk@2x.jpg 2x
              "
              src="images/mobile/victoria-myzyniuk@1x.jpg"
              alt="Victoria's photo"
              class="swiper-slide--img"
              width="85px"
            />
          </div>

          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Restaurant director in the past, want to complete GOIT course and
              work as a Front End developer in a large IT company. I am a team
              leader of this project
            </p>
          </div>

          <p class="swipe-slide--member">Myzyniuk Victoria, Kyiv.</p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide--img-thumb">
            <img
              srcset="
                images/mobile/oleksandra-pylypchuk@1x.jpg 1x,
                images/mobile/oleksandra-pylypchuk@2x.jpg 2x
              "
              src="images/mobile/oleksandra-pylypchuk@1x.jpg"
              alt="Oleksandra's photo"
              class="swiper-slide--img"
              width="85px"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              The molecular biologist in a past, want to be a back-end developer
              after finishing the studying. in this project is a scum master and
              responsible for graphics optimization.
            </p>
          </div>

          <p class="swipe-slide--member">Pylypchuk Oleksandra, Prague</p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide--img-thumb">
            <img
              srcset="
                images/mobile/andrii-kapustnikov@1x.jpg 1x,
                images/mobile/andrii-kapustnikov@2x.jpg 2x
              "
              src="images/mobile/andrii-kapustnikov@1x.jpg"
              alt="Andrii's photo"
              class="swiper-slide--img"
              width="85px"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              I am engaged in entrepreneurial activity. I want to become a
              front-end developer to work on creating big projects that change
              the world. in this project I am responsible for footer.
            </p>
          </div>

          <p class="swipe-slide--member">Kapustnikov Andrii, Kyiv</p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide--img-thumb">
            <img
              srcset="
                images/mobile/andrii-pidlubnyi@1x.jpg 1x,
                images/mobile/andrii-pidlubnyi@2x.jpg 2x
              "
              src="images/mobile/andrii-pidlubnyi@1x.jpg"
              alt="Andrii's photo"
              class="swiper-slide--img"
              width="85px"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              My intension is to prove myself that even if you're almost 40, you
              can become successful web-developer. i'm responsible for
              advantages and gallery sections on team project.
            </p>
          </div>

          <p class="swipe-slide--member">Pidlubnyi Andrii, Kyiv</p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide--img-thumb">
            <img
              srcset="
                images/mobile/kate-v@1x.jpg 1x,
                images/mobile/kate-v@2x.jpg 2x
              "
              src="images/mobile/kate-v@1x.jpg"
              alt="Kate's photo"
              class="swiper-slide--img"
              width="85px"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              For over a decade, I have been a “Jack of all trades”, but finally
              I have made a commitment to a new career path. The aim is back-end
              and ideally a full-stack development. In this project I have
              worked on the header and a mobile menu of the website.
            </p>
          </div>

          <p class="swipe-slide--member">Kate V , Chornomorsk</p>
        </div>
        <div class="swiper-slide">
          <img
            src="images/mobile/mob-firstgirl-1x.png"
            alt=""
            class="swiper-slide--img"
            width="85px"
          />
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="swipe-slide--member">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="images/mobile/mob-firstgirl-1x.png"
            alt=""
            class="swiper-slide--img"
            width="85px"
          />
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="swipe-slide--member">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="images/mobile/mob-firstgirl-1x.png"
            alt=""
            class="swiper-slide--img"
            width="85px"
          />
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="swipe-slide--member">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</article>
