<section class="swiper-article">
  <h3 class="section-heading visually-hidden">Customer reviews</h3>
  <div class="container">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <article class="swiper-slide customer-item">
          <h6 class="swiper-slide__heading visually-hidden">Victoria</h6>
          <div class="swiper-slide__img-thumb">
            <img
              srcset="
                images/mobile/victoria-myzyniuk@1x.jpg 1x,
                images/mobile/victoria-myzyniuk@2x.jpg 2x
              "
              src="images/mobile/victoria-myzyniuk@1x.jpg"
              alt="Victoria's photo"
              class="swiper-slide__img"
              width="85"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide__text">
              Restaurant director in the past, want to complete GOIT course and
              work as a Front End developer in a large IT company. Hope,
              programming will be a lifelong thing for me. I am a team leader of
              this project
            </p>
          </div>
          <p class="swipe-slide__member">Myzyniuk Victoria, Kyiv.</p>
        </article>
        <article class="swiper-slide">
          <h6 class="swiper-slide__heading visually-hidden">Oleksandra</h6>
          <div class="swiper-slide__img-thumb">
            <img
              srcset="
                images/mobile/oleksandra-pylypchuk@1x.jpg 1x,
                images/mobile/oleksandra-pylypchuk@2x.jpg 2x
              "
              src="images/mobile/oleksandra-pylypchuk@1x.jpg"
              alt="Oleksandra's photo"
              class="swiper-slide__img"
              width="85"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide__text">
              The molecular biologist in a past, want to be a back-end developer
              after finishing the studying. in this project is a scrum master
              and responsible for graphics optimization.
            </p>
          </div>
          <p class="swipe-slide__member">Pylypchuk Oleksandra, Prague</p>
        </article>
        <article class="swiper-slide">
          <h6 class="swiper-slide__heading visually-hidden">Oleksandr</h6>
          <div class="swiper-slide__img-thumb">
            <img
              srcset="
                images/mobile/oleksandr-pidvysotskyi@1x.jpg 1x,
                images/mobile/oleksandr-pidvysotskyi@2x.jpg 2x
              "
              src="images/mobile/oleksandr-pidvysotskyi@1x.jpg"
              alt="Oleksandr's photo"
              class="swiper-slide__img"
              width="85"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide__text">
              Worked as a technical expertise engineer for injection-molding
              equipment for 15 years, and finally have decided to completely
              change my life and work experience in IT industry. In this project
              I am responsible for "Customers review" section.
            </p>
          </div>
          <p class="swipe-slide__member">Pidvysotskyi Oleksandr, Boryspil</p>
        </article>
        <article class="swiper-slide">
          <h6 class="swiper-slide__heading visually-hidden">Andrii</h6>
          <div class="swiper-slide__img-thumb">
            <img
              srcset="
                images/mobile/andrii-kapustnikov@1x.jpg 1x,
                images/mobile/andrii-kapustnikov@2x.jpg 2x
              "
              src="images/mobile/andrii-kapustnikov@1x.jpg"
              alt="Andrii's photo"
              class="swiper-slide__img"
              width="85"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide__text">
              I am engaged in entrepreneurial activity. I want to become a
              front-end developer to work on creating big projects that change
              the world. in this project I am responsible for footer.
            </p>
          </div>
          <p class="swipe-slide__member">Kapustnikov Andrii, Kyiv</p>
        </article>
        <article class="swiper-slide">
          <h6 class="swiper-slide__heading visually-hidden">Andrii</h6>
          <div class="swiper-slide__img-thumb">
            <img
              srcset="
                images/mobile/andrii-pidlubnyi@1x.jpg 1x,
                images/mobile/andrii-pidlubnyi@2x.jpg 2x
              "
              src="images/mobile/andrii-pidlubnyi@1x.jpg"
              alt="Andrii's photo"
              class="swiper-slide__img"
              width="85"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide__text">
              My intension is to prove myself that even if you're almost 40, you
              can become successful web-developer. i'm responsible for
              advantages and gallery sections on team project.
            </p>
          </div>
          <p class="swipe-slide__member">Pidlubnyi Andrii, Kyiv</p>
        </article>
        <article class="swiper-slide">
          <h6 class="swiper-slide__heading visually-hidden">Kate</h6>
          <div class="swiper-slide__img-thumb">
            <img
              srcset="
                images/mobile/kate-v@1x.jpg 1x,
                images/mobile/kate-v@2x.jpg 2x
              "
              src="images/mobile/kate-v@1x.jpg"
              alt="Kate's photo"
              class="swiper-slide__img"
              width="85"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide__text">
              For over a decade, I have been a “Jack of all trades”, but finally
              I have made a commitment to a new career path. The aim is back-end
              and ideally a full-stack development. In this project I have
              worked on the header and a mobile menu of the website.
            </p>
          </div>
          <p class="swipe-slide__member">Kate V , Chornomorsk</p>
        </article>
        <article class="swiper-slide">
          <h6 class="swiper-slide__heading visually-hidden">Vladyslav</h6>
          <div class="swiper-slide__img-thumb">
            <img
              srcset="
                images/mobile/vladyslav-starostyn@1x.jpg 1x,
                images/mobile/vladyslav-starostyn@2x.jpg 2x
              "
              src="images/mobile/vladyslav-starostyn@1x.jpg"
              alt="Vladislav's photo"
              class="swiper-slide__img"
              width="85"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide__text">
              I believe that new knowledge and my experience with GoIT will open
              in front of me a new opportunities at the full-stack development
              area. In this project I have worked on the contacts section.
            </p>
          </div>
          <p class="swipe-slide__member">Starostyn Vladyslav, Odessa</p>
        </article>
        <article class="swiper-slide">
          <h6 class="swiper-slide__heading visually-hidden">Andriy</h6>
          <div class="swiper-slide__img-thumb">
            <img
              srcset="
                images/mobile/andriy-pustovit@1x.jpg 1x,
                images/mobile/andriy-pustovit@2x.jpg 2x
              "
              src="images/mobile/andriy-pustovit@1x.jpg"
              alt="Adriy's photo"
              class="swiper-slide__img"
              width="85"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide__text">
              You have to do what you like in life - that's why I'm here. And
              after entering IT with one foot, I realized that I had made the
              right choice. In this project I am responsible for the about
              section.
            </p>
          </div>
          <p class="swipe-slide__member">Pustovit Andriy, Ivano-Frankivsk</p>
        </article>
        <article class="swiper-slide">
          <h6 class="swiper-slide__heading visually-hidden">Konstantin</h6>
          <div class="swiper-slide__img-thumb">
            <img
              srcset="
                images/mobile/konstantin-pulcha@1x.jpg 1x,
                images/mobile/konstantin-pulcha@2x.jpg 2x
              "
              src="images/mobile/konstantin-pulcha@1x.jpg"
              alt="Konstantin's photo"
              class="swiper-slide__img"
              width="85"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide__text">
              I work in the field of gadgets and computer technology. I want to
              continue to learn new technologies and decided to go to GOIT to
              become the best specialist in the IT field and work on large
              projects. In this project I am responsible for Hero section.
            </p>
          </div>
          <p class="swipe-slide__member">Pulcha Konstantin, Odessa</p>
        </article>
        <article class="swiper-slide">
          <h6 class="swiper-slide__heading visually-hidden">Vasilii</h6>
          <div class="swiper-slide__img-thumb">
            <img
              srcset="
                images/mobile/vasilii-syniaskyi@1x.jpg 1x,
                images/mobile/vasilii-syniaskyi@2x.jpg 2x
              "
              src="images/mobile/vasilii-syniaskyi@1x.jpg"
              alt="Konstantin's photo"
              class="swiper-slide__img"
              width="85"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide__text">
              I came to study at GoIT because I want to learn how to create
              services that will solve and simplify people's life worries. In
              this project, I am responsible for the Hero section.
            </p>
          </div>
          <p class="swipe-slide__member">Syniaskyi Vasilii, Nizhyn</p>
        </article>
        <article class="swiper-slide">
          <h6 class="swiper-slide__heading visually-hidden">Sergey</h6>
          <div class="swiper-slide__img-thumb">
            <img
              srcset="
                images/mobile/sergey-soloshenko@1x.jpg 1x,
                images/mobile/sergey-soloshenko@2x.jpg 2x
              "
              src="images/mobile/sergey-soloshenko@1x.jpg"
              alt="Konstantin's photo"
              class="swiper-slide__img"
              width="85"
            />
          </div>
          <div class="swiper-slide__thumb">
            <p class="swiper-slide__text">
              I am a lawyer by education, currently study at GoIT to learn new
              programming skills. In this project I am responsible for the
              Products section.
            </p>
          </div>
          <p class="swipe-slide__member">Soloshenko Sergey, Dnipro</p>
        </article>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
