<article class="swiper-article">
  <div class="container">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <img
            src="images/mobile/mob-firstgirl-1x.png"
            alt=""
            class="swiper-slide--img"
            width="85px"
          />
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="swipe-slide--member">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="images/mobile/mob-firstgirl-1x.png"
            alt=""
            class="swiper-slide--img"
            width="85px"
          />
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="swipe-slide--member">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="images/mobile/mob-firstgirl-1x.png"
            alt=""
            class="swiper-slide--img"
            width="85px"
          />
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="swipe-slide--member">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="images/mobile/mob-firstgirl-1x.png"
            alt=""
            class="swiper-slide--img"
            width="85px"
          />
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="swipe-slide--member">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="images/mobile/mob-firstgirl-1x.png"
            alt=""
            class="swiper-slide--img"
            width="85px"
          />
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="swipe-slide--member">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="images/mobile/mob-firstgirl-1x.png"
            alt=""
            class="swiper-slide--img"
            width="85px"
          />
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="swipe-slide--member">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="images/mobile/mob-firstgirl-1x.png"
            alt=""
            class="swiper-slide--img"
            width="85px"
          />
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="swipe-slide--member">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="images/mobile/mob-firstgirl-1x.png"
            alt=""
            class="swiper-slide--img"
            width="85px"
          />
          <div class="swiper-slide__thumb">
            <p class="swiper-slide--text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <p class="swipe-slide--member">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</article>
