.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms, visibility 300ms;
    z-index: 999;

    @media screen and (max-width: 767px) {
            padding: 45px 15px;
        }
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: var(--primary-white-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    animation: changeBgColor 2000ms;

    padding: 30px;


    @media screen and (max-width: 479px) {
        min-width: 250px;
        width: 95vw;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 528px;
        position:absolute;
    }
  
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    stroke: var(--primary-white-color);
    background-color: var(--light-pink-color);
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color var(--duration) var(--timing-function);

    &:focus,
    &:hover {
        background-color: var(--dark-pink-color);
    }
}

.modal__action {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-pink-color);
    margin-bottom: 12px;
    margin-top: 0px;
}

.modal__form {
    flex-direction: column;
    align-items: center;
}

.modal__field {
    margin-bottom: 10px;
}

.modal__label {
    display: block;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--dark-pink-color);
    margin-bottom: 4px;
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        }
}

.modal__wrap-input {
    position: relative;
}

.modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 42px;
    outline: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--dark-pink-color);
    }
}

.modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--light-pink-color);
    transition: color var(--duration) var(--timing-function);

    .modal__wrap-input:focus-within & {
        color: var(--dark-pink-color);
    }

}

.backdrop .modal .is-hidden {
    transition: opacity 500ms;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 300ms, visibility 300ms;
}

.modal__agree {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__agree-label {
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    border-color: var(--primary-black-color);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 479px) {
        display: inline-block;
    }


    @media screen and (min-width: 1280px) {
        font-size: 14px;
    }
}

.modal__check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__link {
    display: flex;
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: var(--dark-pink-color);
    text-decoration: underline;

    @media screen and (max-width: 479px) {
        display: inline-block;
        align-items: baseline;
    }

    @media screen and (min-width: 480px) {
        display: inline-block;
        align-items: baseline;
    }

    @media screen and (min-width: 1280px) {
        font-size: 14px;
    }
}

.modal__button {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 16px;
    border: 1px solid var(--dark-pink-color);
    border-radius: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: background-color var(--duration) var(--timing-function);

    &:focus, &:hover {
        background-color: #ECEBEB;
    }
}

@keyframes changeBgColor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.modal__input:focus .modal__icon {
    fill: var(--dark-pink-color);
}

.modal__agree + .modal__agree-label span {
    border: 2px solid var(--light-pink-color);
    display: inline-flex;
    margin-right: 9px;
    border-radius: 2px;
    align-items: baseline;
    width: 18px;
    transition: background-color var(--duration) var(--timing-function);

}



.modal__agree:focus +.modal__agree-label span {
    border-color: var(--dark-pink-color);
}
